		<!--content-->
		<div class="index-content">
			<div class="index-banner">
				<div id="myCarousel" class="carousel slide">
					<ul class="carousel-inner">
						<li class="item active">
							<a href="###"><img src="__PUBLIC__images/banner1.jpg" alt="First slide"></a>
						</li>
						<li class="item">
							<a href="###"><img src="__PUBLIC__images/banner2.jpg" alt="Second slide"></a>
						</li>
						<li class="item">
							<a href="###"><img src="__PUBLIC__images/banner3.jpg" alt="Third slide"></a>
						</li>
					</ul>
				</div>
			</div>
			
			<div class="pic-box">
				<div class="index-pic">
					<div class="container">
						<ul>
							<li class="col-md-4"><a href="pro_center.html"><img src="__PUBLIC__images/index-pic-01.png"></a></li>
							<li class="col-md-4"><a href="pro_center.html"><img src="__PUBLIC__images/index-pic-02.png"></a></li>
							<li class="col-md-4"><a href="pro_center.html"><img src="__PUBLIC__images/index-pic-03.png"></a></li>
						</ul>
					</div>
				</div>
			</div>
			
		</div>
		<!--content end-->