
<link rel="stylesheet" type="text/css" href="__PUBLIC__/upload/Huploadify.css"/>
<script type="text/javascript" src="__PUBLIC__/upload/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/upload/jquery.Huploadify.js"></script>
<div class="panel admin-panel">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>增加内容</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" enctype="multipart/form-data" action="">  
      <div class="form-group">
        <div class="label">
          <label>商品名称：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="{$goods.goods_name|default=''}" name="goods_name"  />
          <div class="tips"></div>
        </div>
      </div>
   
      <div class="form-group">
        <div class="label">
          <label>商品品牌：</label>
        </div>
        <div class="field">
          <select class="input w50" name="brand_id" value="">
			<option value="0">请选择商品品牌</option>
				<foreach name="brand" item="v">
					<option value="{$v.id}" <eq name="goods['brand_id']" value="$v.id">selected</eq>>{$v.brand_name}</option>
				</foreach>
		  </select>
        </div>
      </div>

      <div class="form-group">
        <div class="label">
          <label>商品分类：</label>
        </div>
        <div class="field">
          <select class="input w50" name="category_id">
			<option value="0">请选择商品分类</option>
				<foreach name="c" item="v">
					<option value="{$v['id']}" <eq name="goods['category_id']" value="$v.id">selected</eq>>{:str_repeat(">",$v['level']-1)}{$v.cate_name}</option>
				</foreach>
		  </select>
        </div>
      </div>
	  
	  <div class="form-group">
        <div class="label">
          <label>本店价格：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="{$goods.shop_price|default='0'}" name="shop_price"/>
          <div class="tips"></div>
        </div>
      </div>
	  
	  <div class="form-group">
        <div class="label">
          <label>市场价格：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="{$goods.market_price|default='0'}" name="market_price"/>
          <div class="tips"></div>
        </div>
      </div>
	  
	  <div class="form-group">
        <div class="label">
          <label>商品图片：</label>
        </div>
        <div class="field">
			<div id="upload"></div>
			<div>
			<div id="queque_list">
				<notempty name="Think.get.id">
					<dl style="float:left;margin-right:20px;" id="1">
						<dt style="border:1px solid red;padding:5px;">
							<img src="/{$goods['image']}" width="100" height="100">
						</dt>
						<dd style="text-align:center;">
							<button onclick="main(this)" type="button">主图</button>
							<button onclick="removepic(this)" type="button">删除</button>
							<input type="hidden" name="image" value="{$goods['image']}">
						</dd>
					</dl>
					<foreach name="goods['goods_img']" item="pic">
						<dl style="float:left;margin-right:20px;" id="1">
							<dt style="border:1px solid #01a1ff;padding:5px;">
								<img src="/{$pic['photo']}" width="100" height="100">
							</dt>
							<dd style="text-align:center;">
								<button onclick="main(this)" type="button">主图</button>
								<button onclick="removepic(this)" type="button">删除</button>
								<input type="hidden" name="pic[]" value="{$pic['photo']}">
							</dd>
						</dl>
					</foreach>
					</notempty>
			</div>
			</div>
        </div>
      </div>  

      <div class="form-group">
        <div class="label">
          <label>商品规格：</label>
        </div>
        <div class="field">
          
          <input type="button" class="button bg-blue margin-left" value="添加规格"  style="float:left;" onclick="add_spec()">
          <style>
            #add_spec_body{margin-left:130px;}
            #add_spec_body td,#add_spec_body th{padding:5px 10px;}
          }
          </style>
          <div id="add_spec_body">{$group}</div>
        </div>
      </div> 
	  
	  <div class="form-group">
        <div class="label">
          <label>商品详情：</label>
        </div>
		<div class="field">
            <!-- 加载编辑器的容器 -->
			<textarea id="container" name="content" type="text/plain">{$goods['goods_desc']['content']}</textarea>
			<!-- 配置文件 -->
			<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
			<!-- 编辑器源码文件 -->
			<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.js"></script>
			<!-- 实例化编辑器 -->
			<script type="text/javascript">
				var ue = UE.getEditor('container');
			</script>
		</div>
      </div>

      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>


<script type="text/javascript">
	$(function(){
		$('#upload').Huploadify({
			auto:true,
			fileTypeExts:'*.jpg;*.png;*.exe',
			multi:true,
			formData:{key:123456,key2:'vvvv'},
			fileSizeLimit:9999,
			showUploadedPercent:true,//是否实时显示上传的百分比，如20%
			showUploadedSize:true,
			removeTimeout:99999,
			uploader:'{:U("Goods/upload")}',
			
			fileObjName:'pic',
			onUploadStart:function(){
				//alert('开始上传');
				},
			onInit:function(){
				//alert('初始化');
				},
			onUploadComplete:function(){
				//alert('上传完成');
				},
			onDelete:function(file){
				console.log('删除的文件：'+file);
				console.log(file);
			},
			 onUploadSuccess: function(file, data, response) {
			 console.log(file);
			 var data = eval("("+data+")");
			 if(data.code == 0){
			 var html = '<dl style="float:left;margin-right:20px;" id="'+file.id+'">'+
							'<dt style="border:1px solid #01a1ff;padding:5px;">'+
							   '<img src="/'+data.path+'" width="100" height="100">'+
							'</dt>'+
							'<dd style="text-align:center;">'+
								'<button onclick="main(this)" type="button">主图</button>'+
								'<button onclick="removepic(this)" type="button">删除</button>'+
								'<input type="hidden" name="pic[]" value="'+data.path+'">'+
							'</dd>'+
						'</dl>';
					$('#queque_list').append(html);
				}
			}
			});
		});
	function main(o){
	//alert(0);
		$(o).parents('#queque_list').find('input[type="hidden"]').prop('name','pic[]');
		$(o).siblings('input[type="hidden"]').prop('name','image');
		
		$(o).parents('#queque_list').find('dt').css({border:'1px solid #01a1ff'});
		$(o).parents('dl').find('dt').css({border:'1px solid red'});
		
	}
		
	function removepic(o){
	//alert(0);
		$(o).parents('dl').remove();
	}	

    function add_spec(){

      $.ajax({
        type:'get',
        url:'{:U("Goods/add_spec")}',
        data:{},
        dataType:'html',
        success:function(data){
          layer.open({
            type:1,
            skin:'layui-layer-rim',
            area:['450px','240px'],
            content:data,
          });
        }
      });
    }
		
</script>
