		<!--footer-->
		<div class="footer">
			<div class="container">
				<p>CopyRight © 2003 - 2015  版权所有 ICP证号： 闽ICP备16003468号-1</p>
			</div>
		</div>
		<!--footer end-->
		
		<!--[if lte IE 8]>
		<script type="text/javascript" src="js/respond.js" ></script>
		<script type="text/javascript" src="js/html5shiv.min.js" ></script>
		<![endif]-->
		<script type="text/javascript" src="__PUBLIC__js/jquery.js" ></script>
		<script type="text/javascript" src="__PUBLIC__js/bootstrap.js" ></script>
		<script type="text/javascript" src="__PUBLIC__js/main.js" ></script>
	</body>
</html>