<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="__PUBLIC__css/bootstrap.css" />
		<link rel="stylesheet" href="__PUBLIC__css/style.css"/>
		<script src="__PUBLIC__js/jquery.js"></script>
		
		<title>首页</title>
	</head>
	<body>
		<!--header-->
		<div class="header">
			<div class="header-top">
				<div class="container">
					<div class="nav nav-pills">
						欢迎来到优逸斯！
						<a href="login.html">登录</a>
						|
						<a href="register.html">注册</a>
						<div class="header-rigth">
                   			<p>服务热线 400-828-0000</p>
                   		</div>
					</div>
				</div>
			</div>
			<div class="navbar">
				<div class="container">
					<div class="navbar-left">
						<a href="index.html"><img src="__PUBLIC__images/logo.png"></a>
					</div>
					<ul class="nav navbar-nav">
						<li class="dropdown"><a href="index.html">首页</a></li>
						<li class="dropdown"><p>|</p></li>
						<li class="dropdown"><a href="brand_introduction.html">品牌介绍</a>
						</li>
						<li class="dropdown"><p>|</p></li>
						<li class="dropdown"><a href="news.html">新闻中心</a>
						</li>
						<li class="dropdown"><p>|</p></li>
						<li class="dropdown"><a href="{:U('Goods/index')}">产品中心</a>
						</li>
						<li class="dropdown"><p>|</p></li>
						<li class="dropdown"><a href="user.html">会员中心</a>
						</li>
						<li class="dropdown"><p>|</p></li>
						<li class="dropdown"><a href="contact_us.html">联系我们</a>
						</li>
						<li class="dropdown"><p>|</p></li>
					</ul>
				</div>
				<a href="javascript:;" class="nav_toggle"><span></span><span></span><span></span></a>
			</div>
			<div class="nav_bar">
	            <ul class="nav_ul">
	                <li class="navLi on" style="background:none;"><a href="index.html" title="首页" class="navA off">首页</a></li>
	                <li class="navLi">
	                    <a href="brand_introduction.html" title="品牌介绍" class="navA">品牌介绍</a>
	                </li>
	                <li class="navLi">
	                    <a href="news.html" title="新闻中心 " class="navA">新闻中心 </a>
	                </li>
	                <li class="navLi">
	                    <a href="pro_list.html" title="产品中心" class="navA">产品中心</a>
	                </li>
	                <li class="navLi">
	                    <a href="user.html" title="会员中心" class="navA">会员中心 </a>
	                </li>
	                <li class="navLi">
	                    <a href="contact_us.html" title="联系我们" class="navA">联系我们 </a>
	                </li>
	            </ul>  
	        </div>
		</div>
		
		<!--header end-->